.twitter-icon {
  height: 25px;
  width: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.timeline-title {
  margin-left: 15px;
  font-size: 16px;
}

.input-user {
  padding-left: 10px;
  padding-top: 4px;
  display: flex;
  margin-left: 15px;
  font-size: 14px;
  border-radius: 20px;
}

mat-form-field {
  margin-right: 20px;
}

.mat-card {
  border-radius: 30px;
}

.profile-img {
  border-radius: 40px;
  width: 30px;
  height: 30px;
}

.mat-card-title {
  font-size: 16px;
  font: bold;
}

.textScreenName {
  font-size: 13px;
  font: icon;
}
