<mat-toolbar style="background-color: transparent;">
  <button mat-mini-fab color="basic">
    <img class="twitch-icon" src="./assets/twitch_icon.png" />
  </button>
  <mat-card-title>Top streams fr</mat-card-title>
  <span class="example-spacer"></span>
  <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (mousedown)="removeItem($event, widget)" (touchstart)="removeItem($event, widget)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div *ngIf="data" style="overflow-y: auto; max-height: calc(100% - 60px);">
  <div *ngFor="let stream of data">
    <mat-card style="margin: 10px 5px; background-color: #543787;">
      <img mat-card-image style="padding: 15px 15px;" src="{{stream.preview.medium}}">
      <mat-card-content style="display: flex;  background-color: #442d6b; border-radius: 30px">
        <img mat-card-avatar style="height: 40px; width: 40px; border-radius: 30px; margin: 4px" src="{{stream.channel.logo}}">
        <div>
          <span style="font-size: 13px; font: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap">{{ stream.channel.status }}</span><br>
          <span href="{{stream.channel.url}}"  style="font-size: 11px; font: lighter; color: gray">{{ stream.channel.display_name }}</span><br>
          <span style="font-size: 11px; font: lighter; color: gray">{{ stream.channel.game }}</span><br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
