<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  <mat-toolbar color="primary">
    <img class="icon-dash" src="assets/weiss.png" />
    <span>Dashboard</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Logout" (click)="authService.SignOut()">
      <mat-icon>sensor_door</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>
