<div class="forgot-content">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Please enter your email address to request a password reset.</mat-card-title>
      <div class="forgot-form">
        <mat-form-field class="forgot-form-input">
          <mat-label>Mail</mat-label>
          <input type="email" matInput #passwordResetEmail required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
