.example-spacer {
    flex: 1 1 auto;
}

.twitter-icon {
    height: 25px;
    width: 25px;
}

.input {
    padding: 0 16px;
}

.post-button {
    margin-left: 20px;
    border-radius: 30px;
}

mat-card-title {
    margin-left: 14px;
    font-size: 22px;
}
