<!--<div class="displayTable">-->
<!--    <div class="displayTableCell">-->

<!--        <div class="authBlock">-->
<!--            <h3>Sign Up</h3>-->

<!--            <div class="formGroup">-->
<!--                <input type="email" class="formControl" placeholder="Email Address" #userEmail required>-->
<!--            </div>-->

<!--            <div class="formGroup">-->
<!--                <input type="password" class="formControl" placeholder="Password" #userPwd required>-->
<!--            </div>-->

<!--            <div class="formGroup">-->
<!--                <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">-->
<!--            </div>-->

<!--            <div class="formGroup">-->
<!--                <span class="or"><span class="orInner">Or</span></span>-->
<!--            </div>-->

<!--            &lt;!&ndash; Continue with Google &ndash;&gt;-->
<!--            <div class="formGroup">-->
<!--                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">-->
<!--                    <i class="fab fa-google-plus-g"></i>-->
<!--                    Continue with Google-->
<!--                </button>-->
<!--            </div>-->

<!--&lt;!&ndash;            &lt;!&ndash; Continue with Facebook &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="formGroup">&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fab fa-facebook"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    Continue with Facebook&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<div class="signin-content">
    <mat-card>
        <mat-card-content>
            <div class="sign-form">
                <mat-card-title>Sign Up.</mat-card-title>
                <mat-form-field class="sign-form-input">
                    <mat-label>Email Address</mat-label>
                    <input type="text" matInput #userEmail required/>
                </mat-form-field>

                <mat-form-field class="sign-form-input">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput #userPassword required/>
                </mat-form-field>

                <!-- Calling SignIn Api from AuthService -->
                <button mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPassword.value)" >Sign Up</button>
            </div>
            <div>
                <span>Or login with:</span>
            </div>

            <div class="redirectToLogin">
                <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
