<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <div class="sign-form">
        <mat-card-title>Sign Up.</mat-card-title>
        <mat-form-field class="sign-form-input">
          <mat-label>Email Address</mat-label>
          <input type="text" matInput #userEmail required/>
        </mat-form-field>

        <mat-form-field class="sign-form-input">
          <mat-label>Password</mat-label>
          <input type="password" matInput #userPassword required/>
        </mat-form-field>

        <!-- Calling SignIn Api from AuthService -->
        <div class="text-center">
          <button mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPassword.value)">Sign Up</button>
        </div>
      </div>

      <div class="redirectToLogin text-center">
        <div>
          <span>Or login with:</span>
        </div>
        <mat-card-subtitle>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></mat-card-subtitle>
      </div>
    </mat-card-content>
  </mat-card>
</div>
